# Use container-based travis workers
sudo: false

language: python

python:
  - 2.6
  - 2.7
# - 3.3
# - 3.4
# - "3.5.0b4"

branches:
  except:
    - /^v[0-9]/

before_install:
  - MYMCREPO=https://repo.continuum.io/miniconda
  - MYMCBUNDLE=Miniconda-latest-Linux-x86_64.sh
  - mkdir -p ~/pkgs/
  - pushd ~/pkgs/
  - wget --timestamping ${MYMCREPO}/${MYMCBUNDLE}
  - test -x ~/mc/bin/conda || bash ${MYMCBUNDLE} -b -f -p ~/mc
  - export PATH="${HOME}/mc/bin:${PATH}"
  - conda update conda --yes
  - conda remove --name=testenv --yes --offline --all
  - conda create --name=testenv --yes
      python=$TRAVIS_PYTHON_VERSION pip setuptools numpy scipy coverage
  - source activate testenv
  - popd

install:
  - pushd ..
  - git clone https://github.com/diffpy/diffpy.Structure
  - (cd diffpy.Structure && python setup.py install)
  # - git clone https://github.com/diffpy/diffpy.srreal
  # - cd diffpy.srreal
  # - python setup.py install
  # - cd ..
  - popd
  - git fetch origin --tags
  - python setup.py install

script:
  - coverage run --source diffpy.srfit -m diffpy.srfit.tests.run

after_success:
  - pip install codecov
  - codecov
